	<header id="head">
		<div class="inner">
			<a href="#" class="logotext square"><h1>Windsor View</h1></a>
			<a href="#" style="float:right; margin-right:50px; text-decoration: none;" class="contact"><button id='login'><h1>Log In</h1></button></a>
			<div class="details right">
				<div class="message" style="margin-left:300px;">
					<p class="medium">Rethinking how companies utilize social data.</p>
					<p class="small">Welcome to Windsor View.  We're focused on helping companies better leverage social data to find, understand, and reach customers.  If you are interested in learning more about our private beta, please join our email list.</p>
				</div>
				<link href="https://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
				<form style="margin-left:00px;" action="http://windsorview.us8.list-manage1.com/subscribe/post?u=98db67ca3f6f8c83e06b16483&amp;id=f1f51a2f5c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter validate" target="_blank" novalidate>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email..." required>
					<button>Sign Up</button>
					<div style="position: absolute; left: -5000px;"><input type="text" name="b_98db67ca3f6f8c83e06b16483_f1f51a2f5c" tabindex="-1" value=""></div>
				</form>
			</div>
		</div>
	</header>

	<section class="body">
		<div class="inner">
			<div class="copyright">
				<p>&copy; 2014 Windsor View Corporation</p>
				<p>All Rights Reserved.</p>
			</div>
		</div>
	</section>
