<div id="sidebar">
  <div class="sidebar-scroll">
    <div class="sidebar-content">
      <a href="#" class="sidebar-brand" id="dash_menu">
        <i class="fa fa-globe"></i><strong>Windsor </strong>View
      </a>

      <div id="client_logo" class="sidebar-section">
      </div>

      <ul class="sidebar-nav">
        <li class="sidebar-header">
          <span class="sidebar-header-title">Menu</span>
        </li>
        <li>
          <a href="#" id="dash_menu" title="Click for the dashboard" class="active"><i class="fa fa-dashboard sidebar-nav-icon"></i>Dashboard</a>
        </li>
        <li>
          <a href="#" id='twitter_parent' class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="fa fa-twitter sidebar-nav-icon"></i>Twitter Data
          </a>
          <ul id="twitter_data_menu" style="display:none;">
            <li><a href="#" id="twitter_overview_menu" title="Click for overview">Overview</a></li>
            <li><a href="#" id="twitter_profiles_menu" title="Click for profiles"></i>Profiles</a></li>
            <li><a href="#" id='twitter_analysis_menu'>Feed Analysis</a></li>
          </ul>
        </li>
        <li><a href="#" id="geog_menu" title="Click for geographic data"><i class="fa fa-compass sidebar-nav-icon"></i>Geographic Data</a></li>
        <!-- <li><a href="#" id="demo_menu" title="Click for demographic data" ><i class="gi gi-share_alt sidebar-nav-icon"></i>Demographic Data</a></li> -->
        <li><a href="#" id="prof_menu" title="Click for professional information" ><i class="gi gi-suitcase sidebar-nav-icon"></i>Professional Data</a></li>
<!--         <li class="sidebar-header">
          <span class="sidebar-header-title">Coming Soon</span>
        </li>
        <li><a href="#"><i class="fa fa-twitter sidebar-nav-icon"></i>Trending Topics</a></li>
        <li><a href="#"><i class="fa fa-money sidebar-nav-icon"></i>Trending Brands</a></li>
        <li><a href="#"><i class="fa fa-facebook-square sidebar-nav-icon"></i>Facebook Data</a></li>
        <li><a href="#"><i class="fa fa-tumblr sidebar-nav-icon"></i>Blog Data</a></li>-->

      </ul>
    </div>
  </div>
</div>